
.Exp-container{
    height:100%;
   
    
} 
.Exp-container {
    height:100%;
   
    
} 


.Exp-image-left {
    top: 70%;
    position: absolute;
    bottom: 0;
    width: 35%;
    left: 0;
    z-index: -4;
    padding: 0;
 }
 
.Exp{
    align-items: center;
    width:60%;
    margin: 2% auto;
    /* margin-left: 5%;
    margin-right: 5%; */
    text-align: center;
     z-index: 1;
    
}

.Exp-detail{
    
     /* width :90%;
     margin:auto; */
      border-radius: 1%; 
}

.Exp-container h2{
  margin: auto 40% ;
  font-size: 45px;
      font-weight: 700;
}

#Experiences {
    margin: auto 20rem ;   
    margin-bottom: 2%;
    padding: 2%;
  }
  

   
  #Experiences menu {
    margin: 1rem 0;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    list-style: none;
  }
  
  #Experiences menu button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    color: #a18aba;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  #Experiences menu button:hover {    
    background-color:#616062;
    color:  #1b082f;


  }
  
  #Experiences menu button.active {
    background-color: #ebe7ef;
    color: #120520;
  }
  
  #tab-content {
    color:  #bdbcbe;
    padding: 1rem;
    border-radius: 6px;    
    border:1px solid rgba(255, 255, 255, 0.695);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }
/*   
  #tab-content p {
    margin-left: 30%;
  } */
  
  #tab-content code {
    font-size: 1rem;
  }
   