.Exp{
    width :80%;
    align-items: center;
    margin: 10%;
    text-align: center;
}

.Exp-detail{
    width :80%;
    align-items: center;
    margin: 10%;
    text-align: center;
}

.TabPanel {
    color: black;

}